// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a{
    text-decoration: none!important;
}

#sidebar{
    background: #000C15;
    color: #fff;
    min-height: 707px;

    .main-blue{
        color: #3857F5;
    }

    .logo-area{
        width: 100%;
        height: 60px;
        padding: 20px;
        background: #000C15;
        color: #fff;
        text-align: center;
        border-bottom: solid 1px #2F3137;

        // hr{
        //     background: #42454D;
        // }

        p{
            font-weight: 500;
            font-size: 18px;
        }
    }

    ul{
        padding: 0px;
    }

    ul li{
        color: #ccc;
        padding: 10px;
        font-size: 14px;
        list-style: none;
        text-align: center;
        border-radius: 8px;
        
        a{
            color: #ccc!important;
        }
    }

    ul li:hover{
        cursor: pointer;
        transition: 0.3s all;
        background: #3857F5;
        a{
            color: #fff!important;
        }
    }
}

.task-bar{
    margin: 5 5px;
    background: #eee;
    color: #333;
    border-radius: 8px;
    // padding: 15px 10px!important;

    .status-outer{
        border-radius: 0 8px 8px 0!important;
        // background-color: #0f8839!important;

        a{
            color: #fff!important;
            
        }
        button{
            color: #fff;
            border: none!important;
            width: 100%;
            height: 100%;
            border-top-right-radius: 12px!important;
            border-bottom-right-radius: 12px!important;
            
        }
    }
    .bg-green{
        background-color: #38c172;
    }
    .outline-green{
        background: #A0E3BC!important;
    }
    .outline-green-hover:hover{
        background-color: #737e77!important;
        background: #0F8839!important;
        transition: all 0.3s;
        button{
            color: #fff!important; 
        }
    }
    .green_hover:hover{
        text-decoration: none!important;
        background-color: #737e77!important;
        border-top-right-radius: 8px!important;
        border-bottom-right-radius: 8px!important;
    }
}
.approve-box{
    .approve-row{
        margin-right:-8px!important;  border-radius: 0 0 8px 8px!important; background:#E0E0E0!important;

        .aprove-title{
            color: #666666;
            font-weight: 600;
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
        }
    }
}
.border_color_1{
    border-left: solid 3px #FF4D4D;
}
.border_color_2{
    border-left: solid 3px #F9BE00;
}
.border_color_3{
    border-left: solid 3px #0F8839;
}
.color-red{
    color: #FF4D4D!important;
}

.color-green{
    color: #32AE66!important;
}


.admin-index{

    .total_teams_box{
        border-radius: 8px;
        border-left: solid 4px #FF4D4D;
        background-color: #fff;
        box-shadow: 0px 1px px 3px rgba(0, 0, 0, 0.5);
        max-width: 23%!important;

        .box-title{
           
            font-weight: 600!important;
        }

        .number{
            font-family: 'Roboto', sans-serif;
            color:#858796;
            font-weight: 600!important;
            font-size: 24px;
        }
    }
}

.leader-cards{

    .name-box{
        background: #fff;
        // border-left: solid 3px #FF4D4D;
        min-height:45px; 
        border-radius:0 8px 8px 0;
        box-shadow: 0px 1px px 3px rgba(0, 0, 0, 0.8);
        
        .member-name{
            color: #858796;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
        .member-role{
            color: #999999;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
        }
    }
}


.border-4_color_red{
    border-left: solid 3px #FF4D4D!important;
}
.border-4_color_yellow{
    border-left: solid 3px #F9BE00!important;
}
.border-4_color_green{
    border-left: solid 3px #0F8839!important;
}
.border-4_color_blue{
    border-left: solid 3px #3857F5!important;
}
.color-red{
    color: #FF4D4D!important;
}
.color-yellow{
    color: #F9BE00!important;
}
.color-green{
    color: #0F8839!important;
}
.color-blue{
    color: #3857F5!important;
}



